<ul class="breadcrumb">
    <li><a href="{{base}}/">Home</a></li>
    <li><a href="{{base}}/column/{{table}}/list">{{table|humanize}}</a></li>
</ul>

<h1>create {{table}}</h1>

<form method="post">
    {{for:column:columns}}
        <div>
            <label for="{{column.name}}">{{column.name|humanize}}</label>
            {{if:column.values}}
                <select id="{{column.name}}" name="{{column.name}}" class="form-control">
                    <option value=""></option>
                    {{for:label:value:column.values}}
                        <option value="{{value}}">{{label}}</option>
                    {{endfor}}
                </select>
            {{else}}
                <input class="form-control" id="{{column.name}}" name="{{column.name}}" value=""{{if:column.name|eq(primaryKey)}} disabled{{endif}}/>
            {{endif}}
        </div>
    {{endfor}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
