<ul class="breadcrumb">
    <li><a href="{{base}}/editor/">home</a></li>
    <li><a href="{{base}}/editor/column/{{table}}/list">{{table}}</a></li>
</ul>

<h2>create record</h2>

<form method="post">
    {{for:column:columns}}
        <div class="form-group">
            <label for="{{column.name}}">{{column.name}}</label>
            {{if:column.values}}
                <select id="{{column.name}}" name="{{column.name}}" class="form-control">
                    <option value=""></option>
                    {{for:label:value:column.values}}
                        <option value="{{value}}">{{label}}</option>
                    {{endfor}}
                </select>
            {{else}}
                <input class="form-control" id="{{column.name}}" name="{{column.name}}" value=""{{if:column.name|eq(primaryKey)}} disabled{{endif}}/>
            {{endif}}
        </div>
    {{endfor}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
