<ul class="breadcrumb">
    <li><a href="{{base}}/">home</a></li>
    <li><a href="{{base}}/{{table}}/list">{{table}}</a></li>
</ul>

<h2>list {{table}}</h2>

<p><a href="{{base}}/{{table}}/export">export</a></p>
{{if:field}}
    <div class="well well-sm"><div style="float:right;">
    <a class="btn btn-default btn-xs" href="{{base}}/{{table}}/list">Clear filter</a>
    </div>Filtered by: {{field}} = {{name}}</div>
{{endif}}
<table class="table">
<thead><tr>
{{if:primaryKey}}
    <th></th>
{{endif}}
{{for:column:columns}}
    <th>{{column}}</th>
{{endfor}}
</tr></thead><tbody>
{{for:record:records}}
    <tr>
    {{for:field:name:record}}
        {{if:primaryKey}}
            {{if:name|eq(primaryKey)}}
                <td><a href="{{base}}/{{table}}/read/{{field.value}}">view</a></td>
            {{endif}}
        {{endif}}
    {{endfor}}
    {{for:field:name:record}}
        {{if:field.table}}
            <td><a href="{{base}}/{{field.table}}/read/{{field.value}}">{{field.text}}</a></td>
        {{else}}
            <td>{{field.text}}</td>
        {{endif}}
    {{endfor}}
    </tr>
{{endfor}}
</tbody></table>
{{if:maxPage|gt(1)}}
    <div style="float:right">
        page {{pageNumber}} / {{maxPage}}
        {{if:pageNumber|gt(1)}}
            <a href="?page={{pageNumber|sub(1)}},{{pageSize}}" class="btn btn-default">&lt;</a>
        {{else}}
            <a href="javascript:void(0);" class="btn btn-default" disabled>&lt;</a>
        {{endif}}
        {{if:pageNumber|lt(maxPage)}}
            <a href="?page={{pageNumber|add(1)}},{{pageSize}}" class="btn btn-default">&gt;</a>
        {{else}}
            <a href="javascript:void(0);" class="btn btn-default" disabled>&gt;</a>
        {{endif}}
    </div>
{{endif}}
{{if:primaryKey}}
    <p><a href="{{base}}/{{table}}/create" class="btn btn-primary">Add</a></p>
{{endif}}
<br/>
<br/>
<h4>Related</h4>
<ul>
{{for:relation:field:references}}
    {{if:relation}}
        <li><a href="{{base}}/{{relation}}/list">{{relation}}</a></li>
    {{endif}}
{{endfor}}
{{for:relation:referenced}}
    <li><a href="{{base}}/{{relation.0}}/list">{{relation.0}}</a></li>
{{endfor}}
</ul>
