<ul class="breadcrumb">
    <li><a href="{{base}}/">Home</a></li>
    <li><a href="{{base}}/{{table}}/list">{{table|humanize}}</a></li>
</ul>

<style>
{{for:column:i:columns}}
th:nth-of-type({{i|add(6)}}), td:nth-of-type({{i|add(6)}}) { display: none; }
{{endfor}}
</style>

{{if:primaryKey}}
    <div class="titlebar">
        <h1>{{table|humanize}}</h1>
        <div>
            <a onclick="document.querySelector('.addfilter').classList.toggle('visible');" href="#" class="icon filter">Add filter</a>
            <a onclick="document.querySelector('.addfilter').classList.toggle('visible');" href="#" class="icon search">Search</a>
            <a href="{{base}}/{{table}}/create" class="btn">New item</a>
        </div>
    </div>
{{endif}}

{{for:filter:filters}}
    <div class="filterbar">
        <div>{{filter.field|humanize}} = '{{filter.name}}'</div>
        <a class="close" href="{{base}}/{{table}}/list" title="Clear filters"></a>
    </div>
{{endfor}}

<div class="addfilter">
    <select>
        {{for:column:columns}}
            <option>{{column|humanize}}</option>
        {{endfor}}
    </select>&nbsp;
    <select>
        <option>=</option>
        <option>&lt;</option>
        <option>&gt;</option>
    </select>&nbsp;
    <input type="text" />&nbsp;
    <input type="submit" value="Filter" />
</div>

<table class="table list">
<thead><tr>
{{if:primaryKey}}
    <th>Action</th>
{{endif}}
{{for:column:columns}}
    {{if:column|neq(primaryKey)}}
        <th>{{column|humanize}}</th>
    {{endif}}
{{endfor}}
</tr></thead><tbody>
{{for:record:records}}
    <tr>
    {{for:field:name:record}}
        {{if:primaryKey}}
            {{if:name|eq(primaryKey)}}
                <td><a href="{{base}}/{{table}}/read/{{field.value}}">view</a></td>
            {{endif}}
        {{endif}}
    {{endfor}}
    {{for:field:name:record}}
        {{if:name|neq(primaryKey)}}
            {{if:field.table}}
                <td><a href="{{base}}/{{field.table}}/read/{{field.value}}">{{field.text}}</a></td>
            {{else}}
                <td>{{field.text}}</td>
            {{endif}}
        {{endif}}
    {{endfor}}
    </tr>
{{endfor}}
</tbody></table>
{{if:maxPage|gt(1)}}
    <div class="pagination">
        {{if:pageNumber|gt(1)}}
            <a href="?page={{pageNumber|sub(1)}},{{pageSize}}" class="icon prev">&lt;</a>
        {{else}}
            <a href="javascript:void(0);" class="icon prev" disabled>&lt;</a>
        {{endif}}
        &nbsp;page {{pageNumber}} / {{maxPage}}&nbsp;
        {{if:pageNumber|lt(maxPage)}}
            <a href="?page={{pageNumber|add(1)}},{{pageSize}}" class="icon next">&gt;</a>
        {{else}}
            <a href="javascript:void(0);" class="icon next" disabled>&gt;</a>
        {{endif}}
    </div>
{{endif}}
<div class="footeractions">
    <a href="{{base}}/{{table}}/export" class="btn">Export</a>

</div>
