<h2>{{table}}: {{action}}</h2>
{{if:field}}
    <div class="well well-sm"><div style="float:right;">
    <a class="btn btn-default btn-xs" href="/{{table}}/list">Clear filter</a>
    </div>Filtered by: {{field}} = {{name}}</div>
{{endif}}
<table class="table">
<thead><tr>
{{for:column:columns}}
    <th>{{column}}</th>
    {{if:column|eq(primaryKey)}}
        <th></th>
    {{endif}}
{{endfor}}
</tr></thead><tbody>
{{for:record:records}}
    <tr>
    {{for:value:key:record}}
        <td>{{value}}</td>
        {{if:key|eq(primaryKey)}}
            <td style="border-right: 2px solid #ddd; width: 40px;">
                <a class="btn btn-default btn-xs" href="/{{table}}/read/{{value}}">+</a>
            </td>
        {{endif}}
    {{endfor}}
    </tr>
{{endfor}}
</tbody></table>
{{if:maxPage|gt(1)}}
    <div style="float:right">
        page {{pageNumber}} / {{maxPage}}
        {{if:pageNumber|gt(1)}}
            <a href="?page={{pageNumber|sub(1)}},{{pageSize}}" class="btn btn-default">&lt;</a>
        {{else}}
            <a href="javascript:void(0);" class="btn btn-default" disabled>&lt;</a>
        {{endif}}
        {{if:pageNumber|lt(maxPage)}}
            <a href="?page={{pageNumber|add(1)}},{{pageSize}}" class="btn btn-default">&gt;</a>
        {{else}}
            <a href="javascript:void(0);" class="btn btn-default" disabled>&gt;</a>
        {{endif}}
    </div>
{{endif}}
{{if:primaryKey}}
    <a href="/{{table}}/create" class="btn btn-primary">Add</a>
{{endif}}
<br/>
<br/>
<h4>Related</h4>
<ul>
{{for:relation:field:references}}
    {{if:relation}}
        <li><a href="/{{relation}}/list">{{relation}}</a></li>
    {{endif}}
{{endfor}}
{{for:relation:referenced}}
    <li><a href="/{{relation.0}}/list">{{relation.0}}</a></li>
{{endfor}}
</ul>
