<ul class="breadcrumb">
    <li><a href="{{base}}/">Home</a></li>
    <li><a href="{{base}}/{{table}}/list">{{table|humanize}}</a></li>
</ul>

<h1>view {{table|humanize}}</h1>

<table class="table">
<thead><tr><th>key</th><th>value</th></tr></thead>
<tbody>
{{for:field:name:record}}
    <tr>
        <td>{{name}}</td>
        </td><td>
            {{if:field.table}}
                <a href="{{base}}/{{field.table}}/read/{{field.value}}">{{field.text}}</a>
            {{else}}
                {{field.text}}
            {{endif}}
        </td>
    </tr>
{{endfor}}
</tbody></table>

<p>
    <a class="btn btn-primary" href="{{base}}/{{table}}/update/{{id}}">Edit</a>
    <a class="btn btn-danger" href="{{base}}/{{table}}/delete/{{id}}">Delete</a>
</p>

<br/>
<br/>
<h4>Related</h4>
<ul class="related">
{{for:relation:referenced}}
    <li><a href="{{base}}/{{relation.0}}/list/{{relation.1}}/{{id}}/{{name}}">{{relation.0|humanize}}</a></li>
{{endfor}}