<ul class="breadcrumb">
    <li><a href="{{base}}/">home</a></li>
    <li><a href="{{base}}/{{table}}/list">{{table}}</a></li>
</ul>

<h2>update {{table}}</h2>

<form method="post">
    {{for:value:key:record}}
        <div class="form-group row">
            <label for="{{key}}" class="col-sm-2 col-form-label">{{key}}</label>
            <div class="col-sm-8">
                {{if:value.values}}
                    <select id="{{key}}" name="{{key}}" class="form-control">
                        <option value=""></option>
                        {{for:v:k:value.values}}
                            <option value="{{k}}"{{if:k|eq(value.value)}} selected{{endif}}>{{v}}</option>
                        {{endfor}}
                    </select>
                {{else}}
                    {{if:value.type.format|eq("string")}}
                        <input class="form-control" id="{{key}}" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                    {{elseif:value.type.format|eq("int32")}}
                        <input class="form-control" id="{{key}}" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                    {{elseif:value.type.format|eq("decimal")}}
                        <input class="form-control" id="{{key}}" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                    {{elseif:value.type.format|eq("date-time")}}
                        <input class="form-control" id="{{key}}" type="datetime-local" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                    {{elseif:value.type.format|eq("date")}}
                        <input class="form-control" id="{{key}}" type="date" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                    {{elseif:value.type.format|eq("time")}}
                        <input class="form-control" id="{{key}}" type="time" name="{{key}}" value=""{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                    {{elseif:value.type.format|eq("large-string")}}
                        <textarea class="form-control" id="{{key}}" name="{{key}}">{{value.value}}</textarea>
                    {{else}}
                        {{value.type.format}}
                    {{endif}}
                {{endif}}
            </div>
            <div class="col-sm-2">{{value.type.hint}}</div>
        </div>
    {{endfor}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
