<ul class="breadcrumb">
    <li><a href="{{base}}/">home</a></li>
    <li><a href="{{base}}/{{table}}/list">{{table}}</a></li>
</ul>

<h2>update {{table}}</h2>

<form method="post">
    {{for:value:key:record}}
        <div class="form-group">
            <label for="{{key}}">{{key}}</label>
            {{if:value.values}}
                <select id="{{key}}" name="{{key}}" class="form-control">
                    <option value=""></option>
                    {{for:v:k:value.values}}
                        <option value="{{k}}"{{if:k|eq(value.value)}} selected{{endif}}>{{v}}</option>
                    {{endfor}}
                </select>
            {{else}}
                <input class="form-control" id="{{key}}" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
            {{endif}}
        </div>
    {{endfor}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
