<ul class="breadcrumb">
    <li><a href="{{base}}/">Home</a></li>
    <li><a href="{{base}}/{{table}}/list">{{table|humanize}}</a></li>
</ul>

<h1>update {{table}}</h1>

<form method="post">
    {{for:value:key:record}}
        <div>
            <label for="{{key}}" class="col-sm-2 col-form-label" title="{{key|humanize}}">{{key|humanize}}</label>
            {{if:value.values}}
                <select id="{{key}}" name="{{key}}" class="form-control">
                    <option value=""></option>
                    {{for:v:k:value.values}}
                        <option value="{{k}}"{{if:k|eq(value.value)}} selected{{endif}}>{{v}}</option>
                    {{endfor}}
                </select>
            {{else}}
                {{if:value.type.format|eq("decimal")}}
                    <input class="form-control" id="{{key}}" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                {{elseif:value.type.format|eq("date-time")}}
                    <input class="form-control" id="{{key}}" type="datetime-local" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                {{elseif:value.type.format|eq("date")}}
                    <input class="form-control" id="{{key}}" type="date" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                {{elseif:value.type.format|eq("time")}}
                    <input class="form-control" id="{{key}}" type="time" name="{{key}}" value=""{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                {{elseif:value.type.format|eq("large-string")}}
                    <textarea class="form-control" id="{{key}}" name="{{key}}">{{value.value}}</textarea>
                {{elseif:value.type.format|eq("boolean")}}
                    <input class="form-control" id="{{key}}" name="{{key}}" type="checkbox" {{if:value.value}} checked{{endif}}/>
                {{else}}
                    <input class="form-control" id="{{key}}" name="{{key}}" value="{{value.value}}"{{if:key|eq(primaryKey)}} disabled{{endif}}/>
                {{endif}}
            {{endif}}
            <div class="hint">{{value.type.hint}}</div>
        </div>
    {{endfor}}
    <button type="submit" class="btn">Save</button>
</form>
