<h2>{{table}}: view</h2>
<table class="table">
<thead><tr><th>key</th><th></th><th>value</th></tr></thead>
<tbody>
{{for:value:key:record}}
    <tr>
        <td>{{key}}</td>
        <td style="border-right: 2px solid #ddd; width: 40px;">
            {{if:value.table}}
                <a class="btn btn-default btn-xs" href="{{base}}/{{value.table}}/read/{{value.id}}"> + </a>
            {{else}}
                &nbsp;
            {{endif}}
        </td><td>
            {{value.text}}
        </td>
    </tr>
{{endfor}}
</tbody></table>

<a class="btn btn-primary" href="{{base}}/{{table}}/update/{{id}}">Edit</a>
<a class="btn btn-danger" href="{{base}}/{{table}}/delete/{{id}}">Delete</a>

<h4>Related</h4>
<ul>
{{for:relation:field:references}}
    {{if:relation}}
        <li><a href="{{base}}/{{relation}}/list">{{relation}}</a></li>
    {{endif}}
{{endfor}}
{{for:relation:referenced}}
    <li><a href="{{base}}/{{relation.0}}/list/{{relation.1}}/{{id}}/{{name}}">{{relation.0}} (filtered)</a></li>
{{endfor}}
