
* {margin: 0; padding: 0; box-sizing: border-box;}
html {font-size: 16px;}
body {font-size: 1rem; line-height: 1.4;}

.content {min-height: 100vh;}
.navigation {
    background-color: white; 
    display: flex; 
    position: fixed; 
    width: 100%; 
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    z-index: 9;
}
.title {padding: 0.5rem 2rem; color: black; text-decoration: none;}
.title span {font-weight: bold; display: block;}
.body {padding: 6rem 2rem; flex-grow: 1; padding-bottom: 10rem;}
.hamburger {padding: 1rem; margin: 0.3rem 1rem; display: inline-block; text-decoration: none; color: black; font-size: 2.25rem; line-height: 1.2; transform: scaleX(1.5);}

th.selected::after {content: " ▾";}

td, th, dl > * {padding: 0.2rem 1.5rem 0.2rem 0.5rem; text-align: left;}
td, th {max-width: 40rem;}
table.list td, table.list th {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 25rem;}
label {padding: calc(0.2rem + 1px) 1.5rem calc(0.2rem + 1px) 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
td:last-child a {display: inline-block; margin-right: 0.5rem;}
.logo img {height: 2rem; vertical-align: middle;}
a {color: black;}
label {width: 15rem; min-width: 15rem; padding-right: 2rem;}
h1 {font-size: 2.2rem; margin-bottom: 0.5rem; margin-right: 1rem; line-height: 1;}
h2 {font-size: 1.5rem; margin-bottom: 0.5rem;}
table {border-collapse: collapse; margin-top: 1.5rem;}
table tr:nth-child(even) {background: rgba(0,0,0,0.05);}
table tr th {padding-top: 0.3rem; padding-bottom: 0.3rem; font-weight: bold; border-bottom: 1px solid black;}
p, table {margin-bottom: 1.4rem;}

.titlebar {display: flex; align-items: center; margin-bottom: 0.5rem; flex-wrap: wrap;}
.titlebar > div {margin-bottom: 0.5rem;}

.cols {column-width: 700px; margin-top: -2em;}
.col {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}

input, textarea, select{
    height: calc(2rem + 2px); 
    line-height: 1.4rem; 
    text-decoration: none; 
    border: 1px solid black; 
    padding: 0 0.5rem; 
    background: transparent;
    color: black;
    font-family: inherit;
    font-size: inherit;
    flex-grow: 1;
    background: white;
}
button, input[type="submit"], .btn {
    height: calc(2rem + 2px); 
    line-height: 2rem; 
    border: 1px solid transparent; 
    display: inline-block; 
    text-decoration: none; 
    padding: 0 1rem; 
    background: transparent;
    color: black;
    font-family: inherit;
    font-size: inherit;
    background-color: rgb(222, 222, 222);
    cursor: pointer;
    border-radius: 0.15rem;
}
button:focus, input[type="submit"]:focus, .btn:focus, .icon:focus {border-color: black;}
select::-ms-expand {display: none;}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white url('../img/down.svg') calc(100% - 0.6rem) 50% no-repeat;
    background-size: auto 0.5rem;
    padding-right: 1.75rem;
    max-width: calc(100% - 15rem);
}
input[type="radio"], input[type="checkbox"], input[type="file"] {border: 0; height: auto; line-height: auto; margin-right: 0.4rem; vertical-align: middle; position: relative; bottom: 0.1rem;}
input[type="file"] {padding: 0; margin: 0; bottom: 0;}
input[type='number'] {-moz-appearance: textfield;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type="number"] {-moz-appearance: textfield;}
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {-webkit-appearance: none;}
textarea {min-height: 10rem; padding: 0.35rem 0.5rem; }

.icon {
    display: inline-block; 
    text-decoration: none; 
    width: 0; 
    height: 0; 
    overflow: hidden; 
    padding-top: 2rem; 
    padding-left: 2rem; 
    position: relative;
    background-color: rgb(222, 222, 222);
    cursor: pointer;
    border-radius: 0.15rem;
    border: 1px solid transparent;
    vertical-align: bottom;
}
.icon::before {content: ''; position: absolute; width: 2rem; height: 2rem; left: 0; top: 0;}
.icon.filter::before {
    background: url('../img/filter.svg') center center / auto 45% no-repeat;}
.icon.search::before {
    background: url('../img/search.svg') center center / auto 57% no-repeat;}
.icon.prev::before {
    background: url('../img/prev.svg') center 48% / auto 40% no-repeat;}
.icon.next::before {
    background: url('../img/next.svg') center 48% / auto 40% no-repeat;}
form {margin-top: 1.5rem;}
form, dl {width: 100%; max-width: 40rem;}
form > div {display: flex; margin-bottom: 0.25rem;}
form > div > *:nth-child(2) {flex-grow: 1;}
form > div > *:nth-child(3) {margin-left: 0.25rem;}
form > button {margin-top: 1.5rem;}

dl {display: flex; margin-bottom: 1.4rem;}
dt {width: 11rem; min-width: 11rem; padding-right: 2rem;}
dd {flex-grow: 1;}
dl + dl {margin-top: -1.4rem;}
dl + dl dt {border-top: 1px solid transparent;}
dl + dl dd {border-top: 1px solid silver;}

ul.breadcrumb {margin-bottom: 0.3rem; font-size: 0.9rem; opacity: 0.45;}
ul.breadcrumb li {display: inline; list-style: none;}
ul.breadcrumb li + li::before {content: "/ ";}
ul.breadcrumb li a {text-decoration: none;}

ul.related li, ul.home li {list-style: none;}


.filterbar {padding: 0.5rem 0.7rem; background: rgba(0,0,0,0.05); display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.5rem;}

.close::before{content: "+"; text-decoration: none; transform: rotate(45deg); display: inline-block;}

.addFilter {margin-bottom: 0.5rem; display: none;}
.addFilter.visible {display: block;}
.addSearch {margin-bottom: 0.5rem; display: none;}
.addSearch.visible {display: block;}
.footeractions {margin-top: 1.5rem;}

.pagination {display: flex; align-items: center; font-size: 0.9rem;}
.pagination .icon {margin-right: 0.25rem;}
.disabled {opacity: 0.4; cursor: default;}
.pagination .icon:last-child {margin-right: 0; margin-left: 0.25rem;}
.hidden {display: none;}

@media only screen and (min-width: 1500px) {
    .content {display: block;}
    .title {position: absolute; bottom: 1.5rem;}
    .navigation {display: block; width: 15rem; height: 100vh;}
    .body {padding-top: 3rem; margin-left: 15rem; padding-left: 5rem;}
    .hamburger {font-size: 2.5rem; line-height: 1.2; margin-left: 1.3rem; margin-top: 1rem;}
}

.mobile-only {display: none;}
@media only screen and (max-width: 600px) {

    ul.related li a, ul.home li a  {display: inline-block; padding: 0.2rem 0;}

    table.read thead {display: none;}
    table.read tr {display: block; padding: 0.7rem 0.5rem;}
    table.read tr td {display: block; padding: 0;}
    table.read td:nth-child(odd) {font-weight: bold;}
    
    .mobile-only {display: initial;}
    
    form > div {flex-direction: column;}
    select {max-width: 100%;}

}
