<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{info.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{base}}/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="{{base}}/css/music.css">-->
    <link rel="shortcut icon" href="{{base}}/img/favicon.ico">
</head>

<body class="{{table}}">
    <div class="content">
        <div class="navigation">
            <a href="{{base}}/" class="title"><span>{{info.title}}</span>{{info.x-subtitle}}</a>
            <a class="hamburger" href="{{base}}/menu" title="Open menu"><span></span><span></span><span></span></a>
        </div>
        <div class="body">
            {{content}}
        </div>
    </div>
</body>

</html>