<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PHP-CRUD-UI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3><a href="{{base}}">PHP-CRUD-UI</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        {{for:item:menu}}
                            <li{{if:item.active}} class="active"{{endif}}>
                                <a href="{{item.url}}">
                                    {{item.name}}
                                </a>
                            </li>
                        {{endfor}}
                    </ul>
                </div>
                <div class="col-md-9">
                    {{content}}
                </div>
            </div>
        </div>
    </body>
</html>