<!DOCTYPE html>
<html lang="en">

<head>
    <title>PHP-CRUD-UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{base}}/">PHP-CRUD-UI</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-12">
                {{content}}
            </div>
        </div>
    </div>
</body>

</html>