<h2>{{table}}: list</h2>
<p><a href="{{base}}/{{table}}/list">records</a></p>

<table class="table">
<thead><tr>
    <th>name</th>
    <th></th>
    <th>type</th>
    <th>length</th>
    <th>nullable</th>
    <th>pk</th>
    <th>fk</th>
</tr></thead><tbody>
{{for:record:records}}
    <tr>
        <td>{{record.name}}</td>
        <td style="border-right: 2px solid #ddd; width: 40px;">
            <a class="btn btn-default btn-xs" href="{{base}}/{{table}}/columns/read/{{record.name}}">+</a>
        </td>
        <td>{{record.type}}</td>
        <td>{{record.length|or("-")}}</td>
        <td>{{record.nullable|bool("yes","-")}}</td>
        <td>{{record.pk|bool("yes","-")}}</td>
        <td>{{record.fk|or("-")}}</td>
    </tr>
{{endfor}}
</tbody></table>

<p><a href="{{base}}/{{table}}/create" class="btn btn-primary">Add</a></p>
